<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Website</title>
</head>
<body>
    <div class="container" style="text-align: center">
        {% include "navbar.html" %}

        <h1>Services that we provide</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Suscipit earum quos ex beatae nesciunt a dignissimos repudiandae magni. 
            Cum sed tenetur quod porro repellat ipsa, a nemo exercitationem earum doloremque 
            architecto obcaecati natus enim odio impedit repellendus officiis illum, ad neque, nesciunt fugiat. 
            Nesciunt dolores rerum labore consequuntur, fugit assumenda!</p>

            <button>Contact Us</button>
    </div>
</body>
</html>